body {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
main {
  width: 1300px;
  margin: 0 auto;
}

header,
footer {
  background-color: #693e31;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

/*Nav_______________________________________________*/

.nav-row {
  display: flex;
  max-width: 900px;
  align-items: center;
}
#home-button a {
  text-decoration: none;
  font-family: Noticia Text;
  font-weight: 700;
  font-size: 48px;
  color: #fab5b5;
  padding-left: 38px;
  align-items: center;
}
#menu nav li:nth-child(1) a,
#schedule nav li:nth-child(2) a,
#visit-us nav li:nth-child(3) a,
#about-us nav li:nth-child(4) a {
  color: white;
}
#nav {
  align-items: flex-end;
}
#nav ul {
  list-style: none;
  text-decoration: none;
}
#nav li {
  display: inline-block;
}
#nav a {
  text-decoration: none;
  display: block;
  padding-left: 30px;
  color: #fab5b5;
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}
#nav li a:hover {
  color: white;
}
#hamburger-icon i {
  position: absolute;
  right: 1em;
  top: 1em;

  /*
  display: none;
  */
  background-color: white;
}
/*blah _______________________________________________
#toggle-nav {
  position: absolute;
  right: 1em;
  top: 1em;
  display: none;
  background-color: #d8cff4;
}
*/

/*Footer_______________________________________________*/
footer {
  #copyright {
    text-align: left;
    color: white;
  }
  #hours {
    text-align: center;
    color: white;
  }
  #contact {
    flex-direction: row;
    color: white;
  }
  #phone-number a {
    text-align: right;
    color: white;
  }
}
/*Hero Image_______________________________________________*/
#hero-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#hero-text {
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Poppins;
  font-weight: 700;
  font-size: 70px;
  white-space: nowrap;
}
/*Text_______________________________________________*/
h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 64px;
  text-align: left;
  color: #214324;
}
h2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
h3 {
  font-weight: 600;
  font-size: 40px;
}
h4 {
  font-weight: 600;
  font-size: 36px;
}

/*Responsive Main, Nav, and Footer_______________________________________________*/
@media (max-width: 1299px) {
  main,
  header,
  footer {
    width: 100%;
  }
}

@media (max-width: 767px) {
  main,
  header,
  footer {
    flex-direction: column;
    width: 100%;
  }
  #home-button {
    white-space: nowrap;
  }
  .inner {
    overflow: hidden;
  }
  #hero-text {
    font-size: 35px;
  }
  /*Responsive Menu Page_______________________________________________*/
  @media (max-width: 1299px) {
    .menu-section {
      width: 100%;
    }
  }
  @media (max-width: 767px) {
    .menu-section {
      flex-direction: column;
      width: 100%;
    }
  }
  /*Hamburger Menu stuff _______________________________________________
  #nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
  }
  body.nav-open #nav {
    grid-template-rows: 1fr;
  }
  .inner {
    overflow: hidden;
  }
  #nav li {
    display: block;
  }
  #toggle-nav {
    display: block;
  }
  */
}
